In [19]:
import pandas as pd
import os

In [20]:
# Save df if does not exist
csv_file_path = '/Users/ajaykallepalli/data/SQL_df.csv'
if not os.path.exists(csv_file_path):
    splits = {'train': 'spider/train-00000-of-00001.parquet', 'validation': 'spider/validation-00000-of-00001.parquet'}
    df_train = pd.read_parquet("hf://datasets/xlangai/spider/" + splits["train"])
    df_train.to_csv(csv_file_path, index=False)
    print("Downloaded data")
else:
    print("Already downloaded")

/opt/homebrew/anaconda3/envs/llama_finetune/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloaded data

FileNotFoundError: hf://datasets/xlangai/spider/spider/test-00000-of-00001.parquet

In [21]:
#load csv if not loaded as a local variable

if 'df_train' not in locals():
    df_train = pd.read_csv(csv_file_path)

In [22]:
df_train.head()

,db_id,query,question,query_toks,query_toks_no_value,question_toks
0,department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...,"['SELECT', 'count', '(', '*', ')', 'FROM', 'he...","['select', 'count', '(', '*', ')', 'from', 'he...","['How', 'many', 'heads', 'of', 'the', 'departm..."
1,department_management,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads...","['SELECT', 'name', ',', 'born_state', ',', 'ag...","['select', 'name', ',', 'born_state', ',', 'ag...","['List', 'the', 'name', ',', 'born', 'state', ..."
2,department_management,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac...","['SELECT', 'creation', ',', 'name', ',', 'budg...","['select', 'creation', ',', 'name', ',', 'budg...","['List', 'the', 'creation', 'year', ',', 'name..."
3,department_management,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...,"['SELECT', 'max', '(', 'budget_in_billions', '...","['select', 'max', '(', 'budget_in_billions', '...","['What', 'are', 'the', 'maximum', 'and', 'mini..."
4,department_management,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...,"['SELECT', 'avg', '(', 'num_employees', ')', '...","['select', 'avg', '(', 'num_employees', ')', '...","['What', 'is', 'the', 'average', 'number', 'of..."

In [23]:
# adding db_schema to the training data
# Getting unique db id list
unique_dbs = df_train['db_id'].unique()
unique_dbs

array(['department_management', 'farm', 'student_assessment', 'bike_1',
       'book_2', 'musical', 'twitter_1', 'product_catalog', 'flight_1',
       'allergy_1', 'store_1', 'journal_committee',
       'customers_card_transactions', 'race_track', 'coffee_shop',
       'chinook_1', 'insurance_fnol', 'medicine_enzyme_interaction',
       'university_basketball', 'phone_1', 'match_season', 'climbing',
       'body_builder', 'election_representative', 'apartment_rentals',
       'game_injury', 'soccer_1', 'performance_attendance', 'college_2',
       'debate', 'insurance_and_eClaims', 'customers_and_invoices',
       'wedding', 'theme_gallery', 'epinions_1', 'riding_club', 'gymnast',
       'small_bank_1', 'browser_web', 'wrestler', 'school_finance',
       'protein_institute', 'cinema', 'products_for_hire', 'phone_market',
       'gas_company', 'party_people', 'pilot_record',
       'cre_Doc_Control_Systems', 'company_1', 'local_govt_in_alabama',
       'formula_1', 'machine_repair', 'entrepreneur', 'perpetrator',
       'csu_1', 'candidate_poll', 'movie_1', 'county_public_safety',
       'inn_1', 'local_govt_mdm', 'party_host', 'storm_record',
       'election', 'news_report', 'restaurant_1', 'customer_deliveries',
       'icfp_1', 'sakila_1', 'loan_1', 'behavior_monitoring',
       'assets_maintenance', 'station_weather', 'college_1',
       'sports_competition', 'manufacturer', 'hr_1', 'music_1',
       'baseball_1', 'mountain_photos', 'program_share', 'e_learning',
       'insurance_policies', 'hospital_1', 'ship_mission', 'student_1',
       'company_employee', 'film_rank', 'cre_Doc_Tracking_DB', 'club_1',
       'tracking_grants_for_research', 'network_2',
       'decoration_competition', 'document_management', 'company_office',
       'solvency_ii', 'entertainment_awards',
       'customers_campaigns_ecommerce', 'college_3', 'department_store',
       'aircraft', 'local_govt_and_lot', 'school_player', 'store_product',
       'soccer_2', 'device', 'cre_Drama_Workshop_Groups', 'music_2',
       'manufactory_1', 'tracking_software_problems', 'shop_membership',
       'voter_2', 'products_gen_characteristics', 'swimming', 'railway',
       'customers_and_products_contacts', 'dorm_1', 'customer_complaints',
       'workshop_paper', 'tracking_share_transactions', 'cre_Theme_park',
       'game_1', 'customers_and_addresses', 'music_4', 'roller_coaster',
       'ship_1', 'city_record', 'e_government', 'school_bus',
       'flight_company', 'cre_Docs_and_Epenses', 'scientist_1', 'wine_1',
       'train_station', 'driving_school', 'activity_1', 'flight_4',
       'tracking_orders', 'architecture', 'culture_company'], dtype=object)

In [24]:
# creating a db with db ID and db schema as columns
df_schemas = pd.DataFrame(columns=['db_id', 'db_schema'])

In [25]:
schema_location = '/Users/ajaykallepalli/data/spider/database/'
schema_name = 'schema.sql'
for uniq_db in unique_dbs:
    schema_file = os.path.join(schema_location, uniq_db, schema_name)
    print(schema_file)
    if os.path.exists(schema_file):
        with open(schema_file, 'r') as f:
            schema_content = f.read()
        df_schemas = pd.concat([df_schemas, pd.DataFrame({'db_id': [uniq_db], 'db_schema': [schema_content]})], ignore_index=True)
    else:
        print(f"Schema file not found for {uniq_db}")

/Users/ajaykallepalli/data/spider/database/department_management/schema.sql
/Users/ajaykallepalli/data/spider/database/farm/schema.sql
/Users/ajaykallepalli/data/spider/database/student_assessment/schema.sql
/Users/ajaykallepalli/data/spider/database/bike_1/schema.sql
/Users/ajaykallepalli/data/spider/database/book_2/schema.sql
/Users/ajaykallepalli/data/spider/database/musical/schema.sql
/Users/ajaykallepalli/data/spider/database/twitter_1/schema.sql
Schema file not found for twitter_1
/Users/ajaykallepalli/data/spider/database/product_catalog/schema.sql
/Users/ajaykallepalli/data/spider/database/flight_1/schema.sql
/Users/ajaykallepalli/data/spider/database/allergy_1/schema.sql
/Users/ajaykallepalli/data/spider/database/store_1/schema.sql
/Users/ajaykallepalli/data/spider/database/journal_committee/schema.sql
/Users/ajaykallepalli/data/spider/database/customers_card_transactions/schema.sql
/Users/ajaykallepalli/data/spider/database/race_track/schema.sql
/Users/ajaykallepalli/data/spider/database/coffee_shop/schema.sql
/Users/ajaykallepalli/data/spider/database/chinook_1/schema.sql
Schema file not found for chinook_1
/Users/ajaykallepalli/data/spider/database/insurance_fnol/schema.sql
/Users/ajaykallepalli/data/spider/database/medicine_enzyme_interaction/schema.sql
/Users/ajaykallepalli/data/spider/database/university_basketball/schema.sql
/Users/ajaykallepalli/data/spider/database/phone_1/schema.sql
/Users/ajaykallepalli/data/spider/database/match_season/schema.sql
/Users/ajaykallepalli/data/spider/database/climbing/schema.sql
/Users/ajaykallepalli/data/spider/database/body_builder/schema.sql
/Users/ajaykallepalli/data/spider/database/election_representative/schema.sql
/Users/ajaykallepalli/data/spider/database/apartment_rentals/schema.sql
/Users/ajaykallepalli/data/spider/database/game_injury/schema.sql
/Users/ajaykallepalli/data/spider/database/soccer_1/schema.sql
/Users/ajaykallepalli/data/spider/database/performance_attendance/schema.sql
/Users/ajaykallepalli/data/spider/database/college_2/schema.sql
Schema file not found for college_2
/Users/ajaykallepalli/data/spider/database/debate/schema.sql
/Users/ajaykallepalli/data/spider/database/insurance_and_eClaims/schema.sql
/Users/ajaykallepalli/data/spider/database/customers_and_invoices/schema.sql
/Users/ajaykallepalli/data/spider/database/wedding/schema.sql
/Users/ajaykallepalli/data/spider/database/theme_gallery/schema.sql
/Users/ajaykallepalli/data/spider/database/epinions_1/schema.sql
Schema file not found for epinions_1
/Users/ajaykallepalli/data/spider/database/riding_club/schema.sql
/Users/ajaykallepalli/data/spider/database/gymnast/schema.sql
/Users/ajaykallepalli/data/spider/database/small_bank_1/schema.sql
Schema file not found for small_bank_1
/Users/ajaykallepalli/data/spider/database/browser_web/schema.sql
/Users/ajaykallepalli/data/spider/database/wrestler/schema.sql
/Users/ajaykallepalli/data/spider/database/school_finance/schema.sql
/Users/ajaykallepalli/data/spider/database/protein_institute/schema.sql
/Users/ajaykallepalli/data/spider/database/cinema/schema.sql
/Users/ajaykallepalli/data/spider/database/products_for_hire/schema.sql
/Users/ajaykallepalli/data/spider/database/phone_market/schema.sql
/Users/ajaykallepalli/data/spider/database/gas_company/schema.sql
/Users/ajaykallepalli/data/spider/database/party_people/schema.sql
/Users/ajaykallepalli/data/spider/database/pilot_record/schema.sql
/Users/ajaykallepalli/data/spider/database/cre_Doc_Control_Systems/schema.sql
/Users/ajaykallepalli/data/spider/database/company_1/schema.sql
Schema file not found for company_1
/Users/ajaykallepalli/data/spider/database/local_govt_in_alabama/schema.sql
/Users/ajaykallepalli/data/spider/database/formula_1/schema.sql
Schema file not found for formula_1
/Users/ajaykallepalli/data/spider/database/machine_repair/schema.sql
/Users/ajaykallepalli/data/spider/database/entrepreneur/schema.sql
/Users/ajaykallepalli/data/spider/database/perpetrator/schema.sql
/Users/ajaykallepalli/data/spider/database/csu_1/schema.sql
/Users/ajaykallepalli/data/spider/database/candidate_poll/schema.sql
/Users/ajaykallepalli/data/spider/database/movie_1/schema.sql
/Users/ajaykallepalli/data/spider/database/county_public_safety/schema.sql
/Users/ajaykallepalli/data/spider/database/inn_1/schema.sql
Schema file not found for inn_1
/Users/ajaykallepalli/data/spider/database/local_govt_mdm/schema.sql
/Users/ajaykallepalli/data/spider/database/party_host/schema.sql
/Users/ajaykallepalli/data/spider/database/storm_record/schema.sql
/Users/ajaykallepalli/data/spider/database/election/schema.sql
/Users/ajaykallepalli/data/spider/database/news_report/schema.sql
/Users/ajaykallepalli/data/spider/database/restaurant_1/schema.sql
/Users/ajaykallepalli/data/spider/database/customer_deliveries/schema.sql
/Users/ajaykallepalli/data/spider/database/icfp_1/schema.sql
Schema file not found for icfp_1
/Users/ajaykallepalli/data/spider/database/sakila_1/schema.sql
/Users/ajaykallepalli/data/spider/database/loan_1/schema.sql
/Users/ajaykallepalli/data/spider/database/behavior_monitoring/schema.sql
/Users/ajaykallepalli/data/spider/database/assets_maintenance/schema.sql
/Users/ajaykallepalli/data/spider/database/station_weather/schema.sql
/Users/ajaykallepalli/data/spider/database/college_1/schema.sql
Schema file not found for college_1
/Users/ajaykallepalli/data/spider/database/sports_competition/schema.sql
/Users/ajaykallepalli/data/spider/database/manufacturer/schema.sql
/Users/ajaykallepalli/data/spider/database/hr_1/schema.sql
/Users/ajaykallepalli/data/spider/database/music_1/schema.sql
/Users/ajaykallepalli/data/spider/database/baseball_1/schema.sql
/Users/ajaykallepalli/data/spider/database/mountain_photos/schema.sql
/Users/ajaykallepalli/data/spider/database/program_share/schema.sql
/Users/ajaykallepalli/data/spider/database/e_learning/schema.sql
/Users/ajaykallepalli/data/spider/database/insurance_policies/schema.sql
/Users/ajaykallepalli/data/spider/database/hospital_1/schema.sql
/Users/ajaykallepalli/data/spider/database/ship_mission/schema.sql
/Users/ajaykallepalli/data/spider/database/student_1/schema.sql
Schema file not found for student_1
/Users/ajaykallepalli/data/spider/database/company_employee/schema.sql
/Users/ajaykallepalli/data/spider/database/film_rank/schema.sql
/Users/ajaykallepalli/data/spider/database/cre_Doc_Tracking_DB/schema.sql
/Users/ajaykallepalli/data/spider/database/club_1/schema.sql
/Users/ajaykallepalli/data/spider/database/tracking_grants_for_research/schema.sql
/Users/ajaykallepalli/data/spider/database/network_2/schema.sql
/Users/ajaykallepalli/data/spider/database/decoration_competition/schema.sql
/Users/ajaykallepalli/data/spider/database/document_management/schema.sql
/Users/ajaykallepalli/data/spider/database/company_office/schema.sql
/Users/ajaykallepalli/data/spider/database/solvency_ii/schema.sql
/Users/ajaykallepalli/data/spider/database/entertainment_awards/schema.sql
/Users/ajaykallepalli/data/spider/database/customers_campaigns_ecommerce/schema.sql
/Users/ajaykallepalli/data/spider/database/college_3/schema.sql
/Users/ajaykallepalli/data/spider/database/department_store/schema.sql
/Users/ajaykallepalli/data/spider/database/aircraft/schema.sql
/Users/ajaykallepalli/data/spider/database/local_govt_and_lot/schema.sql
/Users/ajaykallepalli/data/spider/database/school_player/schema.sql
/Users/ajaykallepalli/data/spider/database/store_product/schema.sql
/Users/ajaykallepalli/data/spider/database/soccer_2/schema.sql
/Users/ajaykallepalli/data/spider/database/device/schema.sql
/Users/ajaykallepalli/data/spider/database/cre_Drama_Workshop_Groups/schema.sql
/Users/ajaykallepalli/data/spider/database/music_2/schema.sql
/Users/ajaykallepalli/data/spider/database/manufactory_1/schema.sql
/Users/ajaykallepalli/data/spider/database/tracking_software_problems/schema.sql
/Users/ajaykallepalli/data/spider/database/shop_membership/schema.sql
/Users/ajaykallepalli/data/spider/database/voter_2/schema.sql
/Users/ajaykallepalli/data/spider/database/products_gen_characteristics/schema.sql
/Users/ajaykallepalli/data/spider/database/swimming/schema.sql
/Users/ajaykallepalli/data/spider/database/railway/schema.sql
/Users/ajaykallepalli/data/spider/database/customers_and_products_contacts/schema.sql
/Users/ajaykallepalli/data/spider/database/dorm_1/schema.sql
/Users/ajaykallepalli/data/spider/database/customer_complaints/schema.sql
/Users/ajaykallepalli/data/spider/database/workshop_paper/schema.sql
/Users/ajaykallepalli/data/spider/database/tracking_share_transactions/schema.sql
/Users/ajaykallepalli/data/spider/database/cre_Theme_park/schema.sql
/Users/ajaykallepalli/data/spider/database/game_1/schema.sql
/Users/ajaykallepalli/data/spider/database/customers_and_addresses/schema.sql
/Users/ajaykallepalli/data/spider/database/music_4/schema.sql
/Users/ajaykallepalli/data/spider/database/roller_coaster/schema.sql
/Users/ajaykallepalli/data/spider/database/ship_1/schema.sql
/Users/ajaykallepalli/data/spider/database/city_record/schema.sql
/Users/ajaykallepalli/data/spider/database/e_government/schema.sql
/Users/ajaykallepalli/data/spider/database/school_bus/schema.sql
/Users/ajaykallepalli/data/spider/database/flight_company/schema.sql
/Users/ajaykallepalli/data/spider/database/cre_Docs_and_Epenses/schema.sql
/Users/ajaykallepalli/data/spider/database/scientist_1/schema.sql
/Users/ajaykallepalli/data/spider/database/wine_1/schema.sql
Schema file not found for wine_1
/Users/ajaykallepalli/data/spider/database/train_station/schema.sql
/Users/ajaykallepalli/data/spider/database/driving_school/schema.sql
/Users/ajaykallepalli/data/spider/database/activity_1/schema.sql
/Users/ajaykallepalli/data/spider/database/flight_4/schema.sql
Schema file not found for flight_4
/Users/ajaykallepalli/data/spider/database/tracking_orders/schema.sql
/Users/ajaykallepalli/data/spider/database/architecture/schema.sql
/Users/ajaykallepalli/data/spider/database/culture_company/schema.sql

In [26]:
# Save the df_schemas DataFrame to a CSV file
csv_schemas_file_path = '/Users/ajaykallepalli/data/df_schemas.csv'

if not os.path.exists(csv_schemas_file_path):
    df_schemas.to_csv(csv_schemas_file_path, index=False)
    print(f"Schemas CSV file saved to {csv_schemas_file_path}")
else:
    print(f"Schemas CSV file already exists at {csv_schemas_file_path}")

# Print the shape of df_schemas
print("Shape of df_schemas:", df_schemas.shape)

Schemas CSV file saved to /Users/ajaykallepalli/data/df_schemas.csv
Shape of df_schemas: (127, 2)

In [27]:
df_schemas.head()

                   db_id                                          db_schema
0  department_management  PRAGMA foreign_keys=ON;\nBEGIN TRANSACTION;\nC...
1                   farm  \nPRAGMA foreign_keys = ON;\n\nCREATE TABLE "c...
2     student_assessment  PRAGMA foreign_keys = ON;\n\nCREATE TABLE Addr...
3                 bike_1  PRAGMA foreign_keys=OFF;\nBEGIN TRANSACTION;\n...
4                 book_2  PRAGMA foreign_keys = ON;\n\nCREATE TABLE "pub...

In [10]:
## Joining the df_schema to the train data.
df_train = df_train.merge(df_schemas, on='db_id', how='left')

# Check for any missing schemas
missing_schemas = df_train[df_train['db_schema'].isnull()]
if not missing_schemas.empty:
    print(f"Warning: {len(missing_schemas)} rows have missing schemas.")
    print("Unique db_ids with missing schemas:", missing_schemas['db_id'].unique())

# Verify the merge
print("Shape of df_train after merge:", df_train.shape)
print("Columns in df_train:", df_train.columns)

# Check for null values in the merged dataframe
null_counts = df_train.isnull().sum()
print("Null value counts:\n", null_counts)

Warning: 984 rows have missing schemas.
Unique db_ids with missing schemas: ['twitter_1' 'chinook_1' 'college_2' 'epinions_1' 'small_bank_1'
 'company_1' 'formula_1' 'inn_1' 'icfp_1' 'college_1' 'student_1' 'wine_1'
 'flight_4']
Shape of df_train after merge: (7000, 7)
Columns in df_train: Index(['db_id', 'query', 'question', 'query_toks', 'query_toks_no_value',
       'question_toks', 'db_schema'],
      dtype='object')
Null value counts:
 db_id                    0
query                    0
question                 0
query_toks               0
query_toks_no_value      0
question_toks            0
db_schema              984
dtype: int64

In [15]:
# Remove all NA values from df_train
df_schema_train = df_train.dropna()
# Group by 'db_id' and keep only the first 20 rows for each schema
df_schema_train = df_schema_train.groupby('db_id').apply(lambda x: x.head(20)).reset_index(drop=True)

# Print the shape of the new dataframe after keeping only 20 of each schema
print("Shape of df_schema_train after keeping 20 of each schema:", df_schema_train.shape)

# Print the number of unique schemas
print("Number of unique schemas:", df_schema_train['db_id'].nunique())

# Define the path for the CSV file
csv_schema_file_path = '/Users/ajaykallepalli/data/df_schema_train.csv'

# Save the new dataframe to the same folder
if not os.path.exists(csv_schema_file_path):
    df_schema_train.to_csv(csv_schema_file_path, index=False)
    print(f"File saved to {csv_schema_file_path}")
else:
    print(f"File already exists at {csv_schema_file_path}")

# Print the shape of the new dataframe
print("Shape of df_schema_train after removing NA values:", df_schema_train.shape)

File saved to /Users/ajaykallepalli/data/df_schema_train.csv
Shape of df_schema_train after removing NA values: (6016, 7)

In [16]:
# Calculate the number of rows per chunk
chunk_size = len(df_schema_train) // 10

# Base path for the CSV files
base_path = '/Users/ajaykallepalli/data/df_schema_train'

# Chunk the dataframe and save to CSV files
for i in range(10):
    start = i * chunk_size
    end = (i + 1) * chunk_size if i < 9 else len(df_schema_train)
    
    chunk = df_schema_train.iloc[start:end]
    
    # Create the file name with the suffix _1
    file_name = f"{base_path}_{i+1}.csv"
    
    # Save the chunk to CSV
    chunk.to_csv(file_name, index=False)
    print(f"Chunk {i+1} saved to {file_name}")

print("All chunks have been saved successfully.")

Chunk 1 saved to /Users/ajaykallepalli/data/df_schema_train_1.csv
Chunk 2 saved to /Users/ajaykallepalli/data/df_schema_train_2.csv
Chunk 3 saved to /Users/ajaykallepalli/data/df_schema_train_3.csv
Chunk 4 saved to /Users/ajaykallepalli/data/df_schema_train_4.csv
Chunk 5 saved to /Users/ajaykallepalli/data/df_schema_train_5.csv
Chunk 6 saved to /Users/ajaykallepalli/data/df_schema_train_6.csv
Chunk 7 saved to /Users/ajaykallepalli/data/df_schema_train_7.csv
Chunk 8 saved to /Users/ajaykallepalli/data/df_schema_train_8.csv
Chunk 9 saved to /Users/ajaykallepalli/data/df_schema_train_9.csv
Chunk 10 saved to /Users/ajaykallepalli/data/df_schema_train_10.csv
All chunks have been saved successfully.

In [ ]:
 
print("All chunks have been saved successfully.")

In [ ]:
max_instruction = 0
max_schema = 0
max_input = 0
max_output = 0
max_total = 0

instructions = df_schema_train["instruction"]
schemas = df_schema_train["db_schema"]
inputs = df_schema_train["question"]
outputs = df_schema_train["query"]

for instruction, schema, input, output in zip(instructions, schemas, inputs, outputs):
    # Count the number of tokens in the input data fields
    instruction_tokens = tokenizer.encode_plus(instruction, add_special_tokens=False, max_length=None)["input_ids"]
    schema_tokens = tokenizer.encode_plus(schema, add_special_tokens=False, max_length=None)["input_ids"]
    input_tokens = tokenizer.encode_plus(input, add_special_tokens=False, max_length=None)["input_ids"]
    output_tokens = tokenizer.encode_plus(output, add_special_tokens=False, max_length=None)["input_ids"]
    total_tokens = tokenizer.encode_plus(f"{instruction} {schema} {input} {output}", add_special_tokens=False, max_length=None)["input_ids"]

    max_instruction = max(max_instruction, len(instruction_tokens))
    max_schema = max(max_schema, len(schema_tokens))
    max_input = max(max_input, len(input_tokens))
    max_output = max(max_output, len(output_tokens))
    max_total = max(max_total, len(total_tokens))

# Display the results
print(f"\nMaximum token counts:")
print(f"Instruction: {max_instruction}")
print(f"Schema: {max_schema}")
print(f"Input: {max_input}")
print(f"Output: {max_output}")
print(f"Total: {max_total}")

# Add a small buffer to the maximum token count
buffer = 10
# max_seq_length can be set up to 2x the default context length
# of the base model because Unsloth supports RoPE Scaling internally.
# Here, we auto-configure this length based on input data analysis.
max_seq_length = max_total + buffer

# Display the table header
table_title = "Training Data Token Counts"
print(f"\n{table_title:-^70}")
print(f"{'Measure':<14}{'Instruction':<14}{'Schema':<14}{'Input':<14}{'Output':<14}{'Total':<14}")

# Display token counts in tabular form
print(f"{'Maximums':<14}{max_instruction:<14}{max_schema:<14}{max_input:<14}{max_output:<14}{max_total:<14}")
print(f"{'Max Seq Len':<14}{'':<14}{'':<14}{'':<14}{'':<14}{max_seq_length:<14}\n")

print(f"Set max_seq_length in FastLanguageModel to {max_seq_length} to handle the maximum number of tokens required by the input training data (Total Maximum + Buffer).")

# Add a small buffer to the maximum token count
buffer = 10
# max_seq_length can be set up to 2x the default context length
# of the base model because Unsloth supports RoPE Scaling internally.
# Here, we auto-configure this length based on input data analysis.
max_seq_length = max_qna + buffer

# Display the table header
table_title = "Training Data Token Counts"
print(f"\n{table_title:-^70}")
print(f"{'Measure':<14}{'Question':<14}{'Answer':<14}{'Combined':<14}")

# Display token counts in tabular form
print(f"{'Maximums':<14}{max_q:<14}{max_a:<14}{max_qna:<14}")
print(f"{'Max Seq Len':<14}{'':<14}{'':<14}{max_seq_length:<14}\n")

print(f"Set max_seq_length in FastLanguageModel to {max_seq_length} to handle the maximum number of tokens required by the input training data (Combined Maximum + Buffer).")